<%- include('../cabecalho') %>

<div class="container">
    <h1>Autor</h1>
    <p class="lead">Autor incluído!</p>
    <a class="btn btn-primary" href="/admin/autores">Voltar</a>
</div>

<%- include('../rodape') %>