<%- include('../cabecalho') %>
<%- include('../menu') %>

<div class="container">

    <h1>Artigo</h1>
    <p class="lead">Artigo incluído!</p>

    <p><a class="btn btn-primary" href="/admin/artigos">Voltar</a></p>
</div>

<%- include('../rodape') %>