<%- include('../cabecalho') %>
<%- include('../menu') %>

<div class="container">

    <h1>Autor</h1>
    <p class="lead">Autor incluído!</p>

    <p><a class="btn btn-primary" href="/admin/autores">Voltar</a></p>
</div>

<%- include('../rodape') %>