<%- include('cabecalho') %>
<%- include('menu') %>

<div class="container">

    <h1>Comentário</h1>
    <p class="lead">Comentário registrado!</p>

    <p><a class="btn btn-primary" href="/artigo/<%=artigo._id%>">Voltar</a></p>
</div>

<%- include('rodape') %>