<%- include('../cabecalho') %>

<div class="container">
    <h1>Artigos</h1>
    <p class="lead">Artigo alterado!</p>
    <a class="btn btn-primary" href="/admin/artigos">Voltar</a>
</div>

<%- include('../rodape') %>