<%- include('../cabecalho'); %>

<div class="container">

    <h2>Artigo</h2>
    <form class="" method="post" action="/admin/artigos/<%=artigo._id%>">
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <%- include('form') %>
                <button type="submit" class="btn btn-primary">Alterar</button>
                <a class="btn btn-default" href="/admin/artigos/">Cancelar</a>
            </div>
        </div>
    </form>

</div>

<%- include('../rodape') %>