<%- include('../cabecalho') %>

<div class="container">
    <h1>Artigo</h1>
    <p class="lead">Artigo removido!</p>
    <a class="btn btn-primary" href="/admin/artigos">Voltar</a>
</div>

<%- include('../rodape') %>