body {
	min-height: 100vh;
	position: relative;
}

h1, h2 {
	margin-bottom: 1em;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 30px;
	background: #ddd;
}

footer small {
	display: block;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.navbar {
	background: #f8f8f8;
	border-bottom: 1px solid #d7d7d7;
}